includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
