includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
    excludePaths:
        - tests/**/*
    ignoreErrors:
            -
                message: '#Undefined variable: \$foo.*#'
                path: tests/*
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
